
{% block footer %}

        <footer>      
            <div class="horaires">9h-12h & 14h-18h</div>  <div class="copyright">copyright 2024Ⓒ<span class="copy-text">{{title|capitalize}}</span></div> 
        </footer

{% endblock %}  