{% extends 'base.html.twig' %}

{% block title %}Hello AdminHorairesController!{% endblock %}

{% block body %}


<div class="maincontainer {{page}}">

 {% set pagelen = page|length %} 
  <h1>Administration  {{page|slice(6, pagelen )|capitalize}}</h1>     
 
      
            <div class="mt-5" >
                 {% include '/Crud/timetable_crud/index.html.twig' %}  
        </div>
 

</div>
</div>
{% endblock %}
