{% extends 'base.html.twig' %}


{% block Credits %}


{% block body %}


<div class="maincontainer {{page}}">


        
        <div class='d-grid justify-content-center credits' >  
         <h1>Credits</h1>
  
         <h2>Je remercie :</h2>
            <ul>
              <li>la région Bretagne pour le soutient apporté</li>
              <li>le département d'Ille et Vilaine</li> 
              <li>l'organisme de formation STUDI , Mr le directeur général Pierre Charvet</li>   
            </ul>
            

            <ul> 
               <li>Mr Jean Charles Daguin, Responsable de la formation</li>
               <li>Mr Grégory Renuy, Responsable pédagogique</li>
               <li>Mr Maxime Rochedieu, Responsable Graduate Développeur</li> 
              
               <li>Et particulièrement Mr Ala Atrash pour ses indiquations salutaires.</li>   
               <li>Mr Nathan Delhore, pour ces nombreux cours sur l'architecture d'une application, la gestion de BDD...</li>
               <li>Mr Anthony Laplane, pour ces conseils sur l'upload d'images, la mise en place de back-end</li>  
               <li>Mr Gaetan Role-Dubruille, spécialiste de Symfony</li>
            </ul>

          <h2>Sites Ressources :</h2>                       
        <ul>
            <li>Symfony Framework : <a href='http://symfony.com'>lien symfony</a></li>
            <li>Icônes : <a href='https://www.fontawsome.com' alt='fontawsome'>Fontawsome</a></li>    
           
        </ul>
        </div> 



     
</div>
{% endblock %} 
{% endblock %}
